@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Poppins, sans-serif;
  background-color: #f4f4f4;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}


header, footer {
  background-color: rgb(0,168,168);
  color: white;
  text-align: center;
  padding: 30px 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px 60px; /* topo, lados, e espaçamento extra no final */
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px; 
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc; 
  border-radius: 6px;     
  outline: none;         
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #fff; 
}

input:focus, select:focus {
  border-color: rgb(0,168,168);
  box-shadow: 0 0 6px rgba(0,168,168,0.3);
}



button {
  background-color: rgb(0,168,168);
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

button:hover,
button:focus {
  background-color: #0e8f8f;
  outline: none;
}

.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: rgb(0,168,168);
  text-decoration: none;
  font-weight: 600;
}
#endereco {
    font-size: 12px;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  form {
    padding: 20px;
  }

  input, select {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

.login-link {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px; 
}

.link-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: rgb(0,168,168);
  text-decoration: underline;
  cursor: pointer;
  width: auto;
}

.link-btn:hover,
.link-btn:focus {
  background: none;
  outline: none;
  text-decoration: none; 
}


